@import
url('https://fonts.googleapis.com/css?family=Roboto');
.nav{
  height: 50px;
  background: red;
}
.nav div{
  display: inline-block;
  position: absolute;
  left: 0 ;
  padding: 15px;
  font-size: 15px;
  color: white ;
}
.nav ul{
  position: absolute;
  right: 5px;
}
.nav ul li{
  display: inline-block;
  font-size: 15px;
}
.nav ul ul a{
  color: white;
  padding: 5px;
}
.container{
  background-image: url("blene.jpg");
  background-size: cover;
  height: 100vh;
}
.text-container{
  text-align:center ;
  display: flex;
  align-items: center;
  justify-content: center ;
  height: 90vh;
  color: red;
}
.about-content{
  margin: 150px auto 0 auto;
  width: 150px;
}
@import
url('https://fonts.googleapis.com/css?family=Alfa Slab One');
.about-content h1{
  text-align: center;
  font-family: 'Roboto',Sans-Serif ;
  color: red;
}
.about-content p{
text-align: justify;
font-family: 'Lato',Sans-Serif;
color: green;
}
.card-content{
  margin: 80px auto 0 auto;
  text-align: center;
  color: blue;
}
.card-content h1{
 color: red; 
}
.card-content ul{
  padding: 0;
}
.card-content ul li{
  list-style: none;
  display:inline-block;
  margin: 20px;
  width: 300px;
}
.card-content ul li p{
  text-align: justify;
}
.address-holder{
  margin: 80px auto 0 auto;
  text-align: center;
}
.address-holder h1{
  color: red;
}